<%- include('./partials/header.ejs') %>

<h2>Recette de <%= foundRecipe.name %></h2>

<img src="<%= foundRecipe.image %>" alt="">

<p>Temps de préparation&nbsp;: <%= foundRecipe.preparationTime %> min</p>

<p>Auteur&nbsp;: <%= foundRecipe.author %></p>

<p>Liste des ingrédients&nbsp;:</p>
<ul>
	<% for (const ingredient of foundRecipe.ingredients) { %>
	<li><%= ingredient %></li>
	<% } %>
</ul>

<%- include('./partials/footer.ejs') %>
